body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
}

#calculator{
    max-width: 500px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(180, 8%, 5%);
        #display{
        width: 95%;
        height: 50px;
        border: none;
        border-radius: 5px;
        color: black;
        font-size: 1.5em;
        text-align: right;
        }
        button{
            font-size: 1.5em;
            font-weight: 700;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 500ms ease-out;
        }
        button.num{
            background-color: rgb(0, 214, 100);
        }
        button.op{
            background-color: rgb(3, 166, 188);
        }
        button#clear{
            background-color: rgba(248, 47, 47, 0.718);
        }
        button#equals{
            grid-column: 4 span ;
        }

        button:active{
            transform: scale(1.2);
        }
        #buttons{
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(4,60px);
            gap: 5px;
        }
}